.header{
    margin-top: -27px;
    margin-left: -8px;
    margin-right: -8px;
    height: 900px;
    background-image: url("/IMAGES/Header\ Background.png");
    background-size: 100% 100%;
    position: relative;
    display: flex;
}
.container1{
    position: relative;
    display: flex;
} 
.img1{
    height: 500px;
    width: 500px;
    margin-left: 850px;
    margin-top: 150px;
    position: absolute;
    background-image: url("/IMAGES/noodles.png");
    background-size: 100% 100%;
}
.nav{
    position: absolute;
    margin-top: 40px;
    margin-left: 650px;
    display: flex;
}
.nav a{
    text-decoration: none;
    font-size: 17px;
    color: azure;
    font-weight: 400;
    padding-right: 50px;
}
.nav input{
    padding: 10px 30px;
    background-color: white;
    border-radius: 50px;
    background-image: url("/IMAGES/search-icon-png-9969.png");
    background-size: 20% 100%;
    background-repeat: no-repeat;
    background-position: 150px;
    margin-top: -10px;
}
.logo{
    height: 80px;
    width: 100px;
    margin-top: 200px;
    margin-left: 130px;
    background-image: url("/IMAGES/logo.png");
    background-size: 100% 100%;
}
.italian{
    margin-top: 300px;
    margin-left: -150px;
    height: 200px;
    width: 670px;
    background-image: url("/IMAGES/Title.png");
    background-size: 100% 100%;
}
.subtitle{
    margin-top: 570px;
    margin-left: -650px;
    height: 20px;
    width: 350px;
    background-image: url("/IMAGES/Subtitle.png");
    background-size: 100% 100%;
}
button{
height: 50px;
width: 220px;
margin-top: 650px;
margin-left: -350px;
border-radius: 20px;
font-size: 20px;
font-weight: bolder;
letter-spacing: 2px;
}
.bodytext{
    margin-top: 720px;
    margin-left: -230px;
    height: 80px;
    width: 500px;
    border: 2ps solid white;
    background-image: url("/IMAGES/Body\ Text.png");
    background-size: 100% 100%;
}
.sauce{
    margin-top: 650px;
    margin-left: 130px;
    height: 250px;
    width: 250px;
    border: 2ps solid white;
    background-image: url("/IMAGES/sauce.png");
    background-size: 100% 100%;
}
.leafs{
    height: 400px;
    width: 600px;
    transform: translate(155%,-73%);
    background-image: url("/IMAGES/leafs.png");
    background-size: 100% 100%;
}
.container2{
    height: 900px;
    background-color: rgb(255, 255, 255);
    margin-top: -20%;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    position: relative;
}
.heading{
    height: 200px;
    width: 60%;
    position: absolute;
    margin-top: -85px;
    margin-left: 250px;
    background-image: url("/IMAGES/Title\ 2.png");
    background-size: 100% 100%;
}
.bodytext1{
    height: 60px;
    width: 53%;
    position: absolute;
    margin-top: 140px;
    margin-left: 340px;
    background-image: url("/IMAGES/Body\ Text\ 2.png");
    background-size: 100% 100%;
}
.pasta1{
    height: 400px;
    width: 400px;
    position: absolute;
    margin-top: 300px;
    margin-left: 30px;
    background-image: url("/IMAGES/pasta\ 1.png");
    background-size: 100% 100%;
}
.pasta2{
    height: 400px;
    width: 400px;
    position: absolute;
    margin-top: 300px;
    margin-left: 540px;
     background-image: url("/IMAGES/pasta\ 2.png");
    background-size: 100% 100%;
}
.pasta3{
    height: 400px;
    width: 400px;
    position: absolute;
    margin-top: 300px;
    margin-left: 1050px;
     background-image: url("/IMAGES/pasta\ 3.png");
    background-size: 100% 100%;
}
/* .bodytext2{
    height: 100px;
    width: 350px;
    border: 2px solid black;
    position: absolute;
    margin-top: 700px;
    margin-left: 70px;
    background-image: url("/IMAGES/lorem.jpg");
    background-size: 100% 100%;
} */
